/*Google fonts*/
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
}


/* NavBar
   Author: Thales
*/
.links-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.links-nav a, .links-nav ul a{
	font-size: 20px;
}
.links-nav li {
	padding: 13px;
}
.spacer-top-body{
	margin-top: 4rem;
}


/*	scroll efect navbar 
	source: https://youtu.be/z70GTU3p72I?si=Q4X64UlpOIM_mN2L*/
.navbar-scrolled{
	background-color: rgba(212, 212, 212, 0.97); 
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
.navbar{
	transition: all 0.5s; /*add a transiton of 0.5s for the effect in the navbar*/
}

/*Resposiveness @media navbar */
@media(max-width:750px){
	/*Hide the links in the navbar*/
	.links-nav{
		display: none;
	}
	/*Reduce the width for the mobile version*/
	#offcanvasNavbar{
		--bs-offcanvas-width: 260px; 
	}
}



/*	CSS for Campaign page
	Author: Thales*/

/*Hover zoom img effect
Sources: https://www.w3schools.com/howto/howto_css_zoom_hover.asp and https://youtube.com/shorts/-4PtUNKZr8M?si=-x04MyQYTLYg2XLB */

.wrapper-et{
	overflow: hidden;
	border-radius: 5px;
}
.wrapper-et img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 1s ease;
}
.wrapper-et img:hover{
	transform: scale(1.1);
}
/*End img effect*/


/*Spacers for images*/
.spacer-left-campaigns{
	padding-left: 20px;
}
.spacer-bellow-campaigns{
	padding-bottom: 20px;
}

/*wrap image and add text in the image
Sources: https://youtu.be/Si4ViAvvnwU?si=R38BF-6bvPxQ2DKY and https://www.w3schools.com/howto/howto_css_image_text.asp
*/
.img-container{
	position: relative;	
}
.text-inside-img{
	position: absolute;
	bottom: 5%;
	color: black;
	padding-left: 40px;
}
.text-inside-img p {
	font-size: 25px;
}
.text-inside-img h3 {
	font-size: 35px;
}


/*	CSS for Education Challenges
	Author: Thales*/

/*background image and text*/
.bg-img-t{
	background-image: url("../img/thales/background/backgroundEdChallenges.jpg"); /*img source https://www.pexels.com/photo/children-sitting-on-school-chairs-10646415*/
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh; /**covers 100% of the screen*/
	width: 100%;
}
.background-txt-t{
	color: white;
	padding-top: 33%;
}

.background-txt-t h1{
	font-size: 60px;
}

/*wrap content and centralize*/
.content-wrapper-t{
	max-width: 830px;
	margin: 0 auto;
}

.content-wrapper-t img{
	width: 100%;
	height: 400px;
}	


/*	Author: Savio 
	Get involved page
*/
.hero-placeholder {
    height: 350px;
    border-radius: 4px; 
}

.card-placeholder {
    height: 200px;
    border-radius: 4px;
}

